.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.accordion {
    width: 500px;
}

.accordion-item {
    border: 1px solid navy;
    background-color: azure;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;

    .icon {
        font-size: x-large;
    }
}


.accordion-content {
    display: flex;
    font-size: large;
    padding-left: 10px;
    justify-content: flex-start;
}